<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/"
    xmlns:wfw="http://wellformedweb.org/CommentAPI/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
    xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
    xmlns:rawvoice="http://www.rawvoice.com/rawvoiceRssModule/"
    xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0">

    <channel>
        <title>Techlore Talks</title>
        <link>{{@site.url}}/techlore-talks</link>
        <description><![CDATA[ Welcome to Techlore Talks - where we dive into technology, privacy, & security. Hosted by Henry & Jonah from Techlore. ]]></description>
        <language>{{@site.locale}}</language>
        <copyright><![CDATA[ Copyright © 2022 - {{date format="YYYY"}} Techlore, Inc. ]]></copyright>
        <atom:link href="{{@site.url}}/techlore-talks/rss/" rel="self" type="application/rss+xml" />
        <itunes:new-feed-url>
        {{@site.url}}/techlore-talks/rss/
        </itunes:new-feed-url>
        <lastBuildDate>{{date format="ddd, DD MMM YYYY HH:mm:ss ZZ"}}
        </lastBuildDate>
        <itunes:author><![CDATA[ Henry Fisher & Jonah Aragon ]]></itunes:author>
        <itunes:subtitle><![CDATA[ Welcome to Techlore Talks - where we unpack privacy/security/technology concepts in free-form discussions. ]]></itunes:subtitle>
        <itunes:type>episodic</itunes:type>
        <itunes:owner>
            <itunes:name>Techlore</itunes:name>
            <itunes:email>contact@techlore.tech</itunes:email>
        </itunes:owner>
        <itunes:explicit>no</itunes:explicit>
        <itunes:image href="{{img_url @site.icon absolute="true"}}" />
        <itunes:category text="Technology"></itunes:category>
        <itunes:category text="Education"></itunes:category>

        {{#get "posts" filter="tag:techlore-talks" include="tags,authors" as |episode|}}
            {{#foreach episode}}
                <item>
                    <title>{{title}}</title>
                    <link>{{url absolute="true"}}</link>
                    <pubDate>{{date format="ddd, DD MMM YYYY HH:mm:ss ZZ"}}
                    </pubDate>
                    <guid isPermaLink="false">{{comment_id}}</guid>
                    <category>
                        <![CDATA[ {{primary_tag.name}} ]]>
                    </category>
                    <description>{{custom_excerpt}}</description>
                    <content:encoded>
                        <![CDATA[ {{content}} ]]>
                    </content:encoded>
                    <enclosure url="{{og_description}}" length="0"
                        type="audio/mpeg" />
                    <itunes:author>{{authors separator=", " autolink="false"}}</itunes:author>
                    <itunes:subtitle>{{custom_excerpt}}</itunes:subtitle>
                    <itunes:summary>
                        <![CDATA[ {{content}} ]]>
                    </itunes:summary>
                </item>
            {{/foreach}}
        {{/get}}
    </channel>
</rss>
